.wrapper {

   display: flex;
   justify-content: space-between;
   align-items: center;   
   border-bottom: 2px solid rgb(203, 159, 205);
   padding: 15px;
}

.completed {
   text-decoration: line-through red 2px;
   
}