
   

.btndel{
   margin: 20px;
   
   
}

.tasklist{
   border: 1px solid ;
   margin-top:20px ;
   background-color: rgb(252, 253, 253);
   list-style-type: none;
   padding-left: 15px;
}

.input{
   width:400px;
   height: 20px;
}